.contacte-bg {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(0,102,178,1) 30%, rgba(10,35,81,1) 80%);
  }
  #contacte
  {
      position: relative;
  }
  .contacte
  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }
  .contacte h2
  {
      font-size: 2rem;
      line-height: 1.4;
      text-transform: uppercase;
      color: var(--color-white);
      position: relative;
      padding-bottom: 2rem;
  }
    
  .contacte h2 span
  {
      display: block;
  }
    
  h2 span:nth-child(1) 
  {
      font-weight: 800;
  }
    
  h2 span:nth-child(2), h2 span:nth-child(3)
  {
      font-weight: 300;
      font-size: 1.5rem;
  }
    
  .contacte h2::after 
  {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: var(--color-white);
  }
  .contacte-left
  {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 95%;
  }  
.contacte-left p, .contacte-bureau-section p
{
    margin: .6rem 0;
    color: var(--color-white);
    text-align: justify;
    font-size: 1.2rem;
}

.contacte-bureau-section h3
  {
      font-size: 1.5rem;
      line-height: 1.4;
      text-transform: uppercase;
      color: var(--color-white);
      position: relative;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
  }
    
  /*.contacte-bureau h3, sp-sectionan
  {
      display: block;
  }*/
    
  .contact_name_display{
      color: orangered;
  }
  .contacte-bureau-section{
      width: auto;
  }
  .contact_detail{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.contact_email{
    color: var(--color-white);
    font-size: 1.2rem;
    padding-bottom: .5rem;
}
@media screen and (min-width: 300px) and (max-width: 760px)
{
    .contacte-bureau-section{
        width: 100%;
    }  
    .contact_detail{
        flex-direction: column;
    }
    .contact_email{
        
        font-size: 1.1rem;
    }
    .contacte-left{
        width: 100%;
    }
    .container {
       
        padding: 0 10px;
    }
}
@media screen and (min-width: 760px) and (max-width: 1024px)
{
   .contacte-left{
        width: 100%;
    }
}
    