section#galerie {
    background: linear-gradient(
      90deg,
      rgba(45, 165, 255, 1) 45%,
      rgba(1, 223, 245, 1) 100%
    );
    text-align: center;
    color: #fff;
  }
  .galerie{
    padding: 0;
  }
  .BrainhubCarouselItem {
    display: block !important;
  }  
  .galerie h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.0;
    text-transform: uppercase;
    margin: 1.5rem 0;
    position: relative;
    padding-bottom: 1rem;
  }
  
  .galerie h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10%;
    height: 1px;
    background: var(--color-white);
    transform: translateX(-50%);
  }

  .galerie_image{
    width: auto;
    height: 500px;
  }