.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
  }
  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .logo_img
  {
    width: 5rem;
    height: 5rem;
  }
  .logo_title{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .logo-text {
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-white);
  }
  
  .logo-text span {
    font-weight: 600;
    color:orangered;
    padding: .3rem;
  }
  
  .nav-links {
    display: flex;
    color: #fff;
  }
  
  .nav-links li {
    margin-left: 10px;
    list-style: none;
  }
  
  .nav-links a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
    margin-right: 1rem;
    transition: all 0.3s;
  }
  .nav-links a:hover,
  #nav-links-mobile a:hover {
    color: orangered;
  }
  .navbar .menu-icons {
    background: transparent;
    border: none;
    display: none;
  }
  
  /* Media Queries */
  @media screen and (min-width: 300px) and (max-width: 600px){
    .logo-text {
      font-size: 1.3rem;
      font-weight: 150;
      
    }
    .navbar {
      height: 5rem;
    }
    .logo_img
    {
      width: 4rem;
      height: 4rem;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 1024px){
    /* show nav button on navbar menu */
    
    .navbar {
      height: 7rem;
    }
    .nav-links {
      display: none;
      border: 2px solid var(--color-white);
      z-index: 111;
    }
  
    .navbar .menu-icons
    {
      display: block;
    }
    
    .navbar #nav-links-mobile,
    .navbar #nav-links-mobile-hide
    {
        display: block;
        position: absolute;
        list-style: none;
        background: radial-gradient(circle, rgba(0,102,178,1) 30%, rgba(10,35,81,1) 80%);
        left: 0;
        top: 80px;
        width: 100%;
        transition: all 0.3s;
        border-top: 1px solid var(--color-white);
        padding-bottom: 5px;
    }
    .navbar #nav-links-mobile li,
    .navbar #nav-links-mobile-hide li
    {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--color-white);
        margin: 0 30px;
    }
    .navbar #nav-links-mobile li:last-child
    {
        border-bottom: none;
    }
    .navbar #nav-links-mobile li a
    {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    
    .navbar #nav-links-mobile a:hover
    {
        color: orangered;
    }
    .navbar #nav-links-mobile
    {
        animation: slide-in 0.5s ease-in-out;
    }
    
    .navbar #nav-links-mobile-hide
    {
        left: -100%;
        animation: slide-out 0.5s ease-in-out;
    }

    @keyframes slide-out
    {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
    }
    
    @keyframes slide-in
    {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
    }
}